/*CORES*/
$primaryColor: #222222;
$secondaryColor: #f9c909;
$shadonwColor: #b4851e;
$thirdColor: #292929;
$extraColor: #0e0e0e;
$textColor: #ededed;

$fontTitle: "Lora", serif;
$fontBasic: "Roboto", sans-serif;
